@()

@main("Подарки") {

    <h1>Викторина подарков</h1>

    <blockquote>
        <h3>Пояснение</h3>
        <p>Эта интересная викторина поможет весело провести время вам и вашим друзьям.</p>
        <p>Идея в том, что в кругу каждый человек дарит одному другому подарок,
            но до момента вручения подарков никто не знает кто кому будет дарить подарок.</p>
        <p>1. Вы создаёте "комнату" для своей компании и получаете ссылку. По этой ссылке все друзья вносят свои имена и электронную почту</p>
        <p>2. Кто-то один из вашей компании нажимает кнопку "разослать письма" и программа отправит письмо каждому участнику
           викторины, в котором будет указано кому тот должен подарить подарок. При этом даже создатель комнаты не знает кто-кому дарит подарки.</p>
        <p>И так, хватит слов, за дело! Нажимайте на кнопку внизу</p>
    </blockquote>



        <a href="@routes.Application.createRoom" class="btn btn-info btn-lg" role="button">Создать комнату для викторины</a>

   @about()
}