@(userForm: Form[User], existing: List[User])

@import helper._


@main("Подарки") {

    <h1>Новогодние подарки в кампусе</h1>

    <blockquote>
        <h3>Подсказка</h3>
        <p>Введите свой Email адрес, и тогда кто-то сделает вам подарок, и вы тоже сделаете его кому-то... :-).</p>
        <p>После того, как все добавятся в список, кто-то один должен нажать кнопку "Отправить письма",
            будут рассчитаны кто кому дарит, отправлены письма. После этого <b>очищен список участников</b>!</p>
        <p>Кнопка очистить список - очищает всех участников без рассылки писем.</p>
    </blockquote>


    @if(userForm.errors.nonEmpty) {
        <div class="alert alert-danger">
        @userForm.errors.map{ e =>
            @e.message
        }
        </div>
    }
    @form(routes.Application.addEmail, 'class -> "form-inline", 'role -> "form") {
        <div class="form-group col-xs-4">
            <label class="sr-only" for="email">Адрес</label>
            <input  class="form-control" id="email" name="email" placeholder="Введите сюда свой адрес e-mail" value="@userForm("email").value">
        </div>
        <div class="form-group col-xs-4">
            <label class="sr-only" for="name">Имя</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Введите сюда своё имя" value="@userForm("name").value">
        </div>
        <button type="submit" class="btn btn-info">Хочу подарок!</button>
    }


    @if(existing.nonEmpty) {
        <h3>Уже подписались</h3>
        <ul>
        @for(user <- existing) {
            <li>@user</li>
        }
        </ul>

        <a href="@routes.Application.result" class="btn btn-warning" role="button">Отправить письма</a>
        <a href="@routes.Application.clear" class="btn btn-danger" role="button">Очистить всех</a>
    }


    <hr/>
    <small>Смотри исходный код <a href="https://github.com/RumataEstorsky/campus-gifts">здесь</a></small>

}
