@(existingEmails: List[String], order: Seq[Int])

@main("Результат") {
    <h1>Кто кому дарит</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Кто</th>
                <th>Кому</th>
            </tr>
        </thead>
        <tbody>
            @order.sliding(2).map{ case Seq(from, to) =>
            <tr>
                <td>@existingEmails(from)</td>
                <td>@existingEmails(to)</td>
            </tr>
            }
        </tbody>
    </table>

    <a href="@routes.Application.index" class="btn" role="button">На главную</a>
    <a href="@routes.Application.sendMails" class="btn" role="button">Отправить письма</a>

}
